$header-height: 50px;

.PageHeader {
  box-sizing: border-box;
  position: absolute;
  top: 0; left: 0;
  height: $header-height; width: 100%;
  background: #fff;
  border-bottom: red 4px solid;
  box-shadow: 0px 5px 15px 0px rgba( 0, 0, 0, .5 );
  z-index: 9000;
  &-title {
    display: block;
    float: left;
    margin: 1.3em 0 0 1.6em;
    font-family: ralewaymedium;
    font-size: .875em;
    color: #004c94;
    text-transform: uppercase;
  }
  &-button {
    position: absolute;
    top: 0; right: 0;
    height: 100%; width: $header-height;
    border: medium none;
    border-spacing: 0;
  }
}
