
// media
$tablet: "only screen and (min-width:768px)";

// Color used on the home page
$color-azure: #2996cf;
$color-pink: #d56a68;
$color-salmon: #ed7f5a;
$color-purple: #442e42;
$color-blue: #015289;
$color-sand: #dcd48d;
$color-lightblue: #6dcdda;
